RewriteEngine On

# lets-encrypt
RewriteRule ^.well-known/.*$ - [L]

# Latest Docs
RewriteRule ^(?:help|docs)/?(.*)$ /1.0/docs/$1 [R=301,L]

# Allowed
RewriteRule ^(1.0)/.*$ - [L]

# Everything Else
RewriteRule ^(.*)$ index.php [L]
